rules_version = '2';

// current rules allow read and write to ALL users
// need to update this for only authenticated users! 

service firebase.storage {
  match /b/{bucket}/o {
  	match /{allPaths=**} { 
    	allow read, write; 
    }
  }
}