.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  /* create and adjust the submit button */
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  div.userPostarea { 
    flex: 100%; /* Set the width of the main content */
    background-color: rgb(34, 86, 198); 
    padding: 20px; /* Some padding */
    height: 800px;
  }
  /* This makes it so the contact button switches color, does same to nav bar tho */
  #contact:hover, a:hover:not(.navBar) {
    opacity: 0.7;
  }

  /* userpost cards */
  .userCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 20px 20px 0 rgb(237, 234, 234);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .userCard:hover {
    box-shadow: 0 20px 20px 0 rgba(245, 242, 242, 0.888);
  }
  
  /* Add some padding inside the card container */
  .container1 {
    padding: 2px 16px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
  }

  .userCard {
    box-shadow: 0 20px 20px 0 rgb(255, 251, 251);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px;
  }