/* This css file is for the account page */

/* ===================== user info card ===================== */
.card {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	max-width: 100%;
	margin: auto;
	text-align: center;
	font-size: larger;
	display: none
}

.title {
	color: grey;
	font-size: 18px;
}

/* ===================== contact button ===================== */

.contact {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 10%;
	font-size: 18px;
	border-radius: 20px;
	margin-top: 10px; 
	margin-bottom: 10px;
}

/* ===================== post area / cards ===================== */

div.userPostarea {
	flex: 100%;
	/* Set the width of the main content */
	border: 1px solid black;
	/* border: 10px transparent; */
	padding: 10px;
	border-radius: 10px;
	/* Some padding */
	height: 800px;
	line-height: 1.5;
	display: none; 
}

/* This makes it so the contact button switches color, does same to nav bar tho */

.contact:hover {
	opacity: 0.7;
}

/* Add some padding inside the card container */

.container1 {
	padding: 2px 16px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
}

/* Add rounded corners to the top left and the top right corner of the image */

img {
	border-radius: 5px;
}

/* /* ===================== edit profile ===================== */ 

#editBtn {
	padding: 10px 20px;
	font-size: 16px;
	display: none;
}

/* blurs the background slightly behind the white box */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* makes the white box for the fields to be on */

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 550px;
}

/* positions save button */

.save-button {
	position: absolute;
	top: 640px;
	left: 1130px;
	padding: 10px 20px;
	font-size: 16px;
}

.name-label {
	position: absolute;
	top: 30%;
	left: 12%
}

.name-input {
	position: absolute;
	top: 30%;
	left: 15.5%;
}

.descrip-label {
	position: absolute;
	top: 36%;
}

.descrip-input {
	position: absolute;
	top: 40%;
	left: 13%;
	width: 38%;
	height: 38%;
	box-sizing: border-box;
}

/* ===================== image grid ===================== */

.photo-grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	left: 55%;
	margin-right: 100px;
	/* margin-left: 200px; This will push the grid to the right */
}

/* Style for each image item */

.image-item {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

/* Style for the selected image */

.image-item.selected::after {
	content: '\2713';
	/* Checkmark symbol */
	position: absolute;
	top: 5px;
	right: 5px;
	color: #00f;
	/* Blue color for the checkmark */
	font-size: 20px;
}

/* Style for the images to have a fixed width */

.image-item img {
	width: 60%;
	height: auto;
	display: block;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Display iamges in dropdown */

.custom-dropdown {
	position: relative;
	/* display: inline-block; */
	display: list-item;
}

.selected-photo {
	cursor: pointer;
}

img,
.dropdown-options img {
	width: 120px;
}

.dropdown-options {
	display: none;
	position: absolute;
	min-height: 200px;
	min-width: 280px;
	top: 100%;
	left: 0;
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.option {
	padding: 5px;
	cursor: pointer;
}

.option:hover {
	background-color: #ddd;
}

select.icon-menu option {
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 30px;
}

.postGrid {
	display: none;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	/* Adjust column width as needed */
	gap: 20px;
	/* Adjust the gap between grid items */
	max-height: 800px;
	/* Set the maximum height for vertical scrolling */
}

.flipdiv {
	display: none;
	position: relative;
	width: 180px;
	height: 160px;
	perspective: 500px;
	margin-bottom: 160px;
}

.flipdiv .trashButton {
	position: fixed;
	bottom: -150px;
	left: 10px;
	width: 40px;
	height: 30px;
	border-radius: 5px;
}

.enlarged-card {
	grid-column-start: span 3;
	/* Adjust as needed to move the card to the left */
	z-index: 1;
}

/* flipping the card to the back */

.flipdiv.v.showBack .front,
.flipdiv.v.flip .front {
	transform: rotateX(180deg);
	z-index: 1;
}

.flipdiv.v.showBack .back,
.flipdiv.v.flip .back {
	transform: rotateX(0deg);
	z-index: 2;
}

.flipdiv.v .back {
	transform: rotateX(-180deg);
}

/* ===================== footer ===================== */

.footer { 
	display: none
}

/* ===================== loading ===================== */

#loading { 
	display: block; 
	font-size: 40px; 
	margin: auto;
	text-align: center; 
	padding-top: 100px; 
	align-items: center;
}

/* ensure nav bar is visible while page loading */ 
#navBar { 
	display: inline-block; 
}

.runnerGif {
	width: 600px;
	height: 400px;
}