/* this css file is for about.html */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

card { 
    
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: rgb(38, 105, 187);
}

p {
    line-height: 1.6;
}

.bullet {
    margin-top: 10px;
    margin-left: 10px;
    font-size: medium;
}